@use './mixin';
@use './variable';
@use './reset';

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

// Add base
@layer base {
    body {
        font-family: 'Pixelify Sans', sans-serif;
    }
}

.bee {
    &-1{
        animation: flyfromLeft 1 3s forwards;
    }
}

// Animation
@keyframes flyfromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    25%{
        opacity: 1;
        transform: translateX(0%);
    }
    50% {
        transform: translateY(5%);
    }
    100%{
        transform: translateY(0%);
    }
}
